@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Explora&display=swap");

.gradient {
  background: #fefde9;
}

@media only screen and (min-width: 640px) {
  .gradient {
    background: linear-gradient(
      to right,
      #fefde9 0%,
      #fefde9 70%,
      #1f1f1f 70%,
      #1f1f1f 100%
    );
  }
}

label {
  display: flex;
  flex-direction: column;
  width: 40px;
  border-radius: 100%;
  padding: 10px;
  cursor: pointer;
}

label span {
  border-radius: 10px;
  height: 2px;
  margin: 2px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

span:nth-of-type(1) {
  width: 100%;
}

span:nth-of-type(2) {
  width: 100%;
}

span:nth-of-type(3) {
  width: 100%;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(4px, 4px);
}

input[type="checkbox"]:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg) translate(-0.5px, 0px);
}

input[type="checkbox"]:checked ~ span:nth-of-type(3) {
  visibility: hidden;
}
