@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  background: #fefde9;
}

@font-face {
  font-family: "Julietta Messie";
  src: url("./assets/fonts/Julietta-Messie.otf");
}

@media only screen and (min-width: 640px) {
  .gradient {
    background: linear-gradient(
      to right,
      #fefde9 0%,
      #fefde9 70%,
      #3a3c41 70%,
      #3a3c41 100%
    );
  }
}
